.sign-in-sign-up {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    
    
}

/* Media query */

@media screen and (max-width: 800px) {
    .sign-in-sign-up {
        flex-direction: column;
        width: 100%;
    }
}