.sign-in {
    width: 450px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .button {
        display: flex;
        justify-content: space-between;
        
    }
    
}

/*Media query */ 

@media screen and (max-width: 800px) {
    .sign-in {
        width: 100%;
        padding-left: 10px;

        .button {
            width: 90%;
            justify-content: space-evenly;

            .custom-button {
                min-width: unset;
                font-size: 10px;
            }
            
        }


    }
}